@import url(variables.css);

.about-section{
    margin: 100px 0px;
}


.company-description {
    font-size: var(--screen-calculated-about-font-size);
    font-weight: 400;
}

.company-description p{
    text-align: justify;
}