:root {
    --z-index-callback-background: 12;
    --z-index-form-callback: 13;
    --form-callback-width: 250px;
    --form-callback-height: 370px;
    --form-callback-padding-horizontal: 25px;
    --form-callback-padding-vertical: 25px;
    --form-callback-buttn-close-size: 30px;
    --form-callback-font-size: 20px;

    --z-index-return-call-background: 12;
    --z-index-form-return-call: 13;
    --form-return-call-width: 350px;
    --form-return-call-height: 200px;
}

#form-callback {
    display: none;
    position: fixed;
    z-index: var(--z-index-form-callback);
    width: var(--form-callback-width);
    height: var(--form-callback-height);
    top: calc(50vh - (var(--form-callback-height) / 2));
    /*left: calc(50vw - (var(--form-callback-width) / 2));*/
    border: 1px solid #000000;
    text-align: center;
    background-color: #FFFFFF;
    padding: var(--form-callback-padding-vertical) var(--form-callback-padding-horizontal);
    font-style: italic;
}

h4 {
    margin: 0px 0 20px 0;
    letter-spacing: 0.01em;
    font-size: var(--form-callback-font-size);
    line-height: calc(var(--form-callback-font-size) + .3em);
    justify-self: flex-start;
}


.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    align-content: space-evenly;
    justify-content: space-around;
}

.form-callback-messenger{
    width: 66px;
    height: 66px;
}

.form-callback-messenger img{
    width: 100%;
    height: 100%;
}


.send1 {
    width: 210px;
    height: 47px;
    background-color: #6E9C9F;
    border: none;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-top: 40px;

}

.send1:hover {
    opacity: 0.9;
}

#btn-close {
    position: relative;
    /*Сдвигаем слева направо относительно исходной позиции
    на половину ширины формы за вычетом отступа от края и ширины крестика*/
    left: calc(var(--form-callback-width) / 2 - var(--form-callback-padding-horizontal) - 10px);
    top: -0.5em;
    border: none;
    background: none;
    font-size: 30px;
    text-decoration: none;
    color: #303030;
    font-style: normal;
    justify-self: flex-start;
}

#btn-close:hover {
    opacity: 1;
}

#background-modal {
    /*Стили заливки страницы под формой*/
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #44180f;
    opacity: 65%;
    z-index: var(--z-index-callback-background);

}

.background-display {
    /*Стиль, создающий модальное окно*/
    display: flex !important;
    flex-direction: column;
}

#form-callback input:invalid {
    border-bottom: 1.5px solid red;
}

#form-callback input:valid {
    border-bottom: 1.5px solid #000000;
}

#return-call {
    display: none;
    position: fixed;
    z-index: var(--z-index-form-return-call);
    width: var(--form-return-call-width);
    height: var(--form-return-call-height);
    top: calc(50vh - (var(--form-return-call-height) / 2));
    left: calc(50vw - (var(--form-return-call-width) / 2));
    border: 1px solid #000000;
    text-align: center;
    background-color: #FFFFFF;
}

.send2 {
    width: 120px;
    height: 47px;
    background-color: #FFFFFF;
    border: 1px solid #6E9C9F;
    color: #6E9C9F;
    font-size: 15px;
    margin-top: 10px;

}

.send2:hover {
    opacity: 0.9;
}