h1 {
    text-align: center;
    margin-bottom: 70px;
}



p {
    display: block;
    margin: 10px 0 10px 0;
}
.phone_img {
    width: 65px;
    height: 65px;
    margin: 0;
}

.email_img {
    width: 65px;
    height: 50px;
}
a {
    font-style: italic;
}
a:hover {
    color: #D43721;
}

.phone {
    display: flex;
    margin: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    
}
.mobile {
    align-self: center;
    margin-left: 10px;
}

.e-mail {
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    
}
.post {
    align-self: center;
    margin-left: 10px;
}
.contact_ways {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    row-gap: 20px;
    column-gap: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


.address, .address1 {
    font-size: 20px;
    font-weight: 400;
}

.address {
    grid-column: 1/2;
    grid-row: 1/2;
}

.address1 {
    grid-column: 2/3;
    grid-row: 1/2;
}
