/*Стили футера*/
@import url(variables.css);


footer {
    background-color: rgba(48,48, 48, 1);

    position: relative;
    /*
    background-image: url("../img/logo/seafood-logo_inv.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-blend-mode: darken;
    background-position: center center;
    */
    
    width: 100%;
}

.footer-logo-img {
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer img {
    position: absolute;
    /*padding: 10px 0px;*/
    opacity: 10%; 
    height: 100%;
    width: auto;
}


.footer__container {
    position:relative;
    z-index: 2;
    padding: 30px 100px;
    margin: 0 auto;
    max-width: 100%;
    color: white;
    font-size: 18px;

}

.footer__wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

ul {
    list-style: none;
}

.left__item:not(:last-child) {
    margin-bottom: 25px;
}

.rigth__item:not(:last-child) {
    margin-bottom: 25px;
}

.left__item {
    position: relative;
}

.footer__content-left li {
    padding-top: 5px;
}

.left__item::before {
    display: block;
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    left: -45px;
    top: 0;
}

.left__item-msk::before {
    background-image: url('../img/pngtlocation.png');

}

.left__item-call::before {
    background-image: url('../img/phone.png');

}

.left__item-mail::before {
    background-image: url('../img/email.png');

}

.footer__rights {
    font-size: smaller;
    text-align: center;
}

.footer__rights a {
    font-style: normal;

}

footer a {
    color: white;
}

@media (max-width: 480px) {
    .footer__container {
        font-size: 12px;
        padding: 30px;
    }

    .footer__rights{
        font-size: 12px;
        padding: 30px;
    }

    .footer__wrapper {
        display: block;
    }

    .footer__container a{
        font-size: 12px;
    }
}