/*Стили футера*/
@import url(variables.css);


:root{
    --footer-margin-horizontal: calc((var( --body-container-width) - 100vw) / 2 + 1vw);
}

footer {
    background-color: #322C2C;
    width: 100%;
    /*
    margin-left: var(--header-margin-horizontal);
    margin-right: var(--header-margin-horizontal);
    */
    height: 350px;
}

.container-footer {
    max-width: 100%;
    width: 100%;
    padding: 0 151px 0 133px;
    margin: 0 auto;
}

.footer-upperside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    display: block;
    width: 300px;
    height: 300px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-item:not(:first-child) {
    margin-left: 35px
}

.footer-item {
    color: #ffff;
    font-size: 34px;
    list-style: none;
    font-style: italic;
}

.phone {
    margin-left: 35px;
    background-color: white;
    color: black;
    font-size: large;
    font-style: italic;
    border-radius: 15px;
}

.footer-down {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 26px;
}