@import url(variables.css);

:root{
    --header-margin-top: 0px;
    --header-margin-horizontal: calc((var( --body-container-width) - 100vw) / 2 + 1vw);
    --header-background-img-file: url("../img/header2.jpg");
    --header-background-image-width: 100vw;
    --header-background-image-height: 100vh;
    --header-background-image-scale-x: 100%;
    --header-background-image-scale-y: 100%;
    --header-background-image-position-x: 0%; /*Для широких экранов сдвига изображения нет, на маленьких - около 20%*/

    /*Параметры элементов меню в панели навигации*/
    --header-nav-padding-vertical: 20px;

    /*Параметры логотипа*/
    --header-logo-height: 30vh;
    --header-logo-width: calc(var(--header-logo-height) / 2 * 3);
    --header-logo-max-width: 30%;
    --header-logo-top: 0px;
    --header-logo-left: 1vw;

    /*Параметры бургерного меню*/
    --hamburg-opened-width: 210px;/*calc(var(--screen-mobile-menu-font-size) * 8);/*Ширина открытого меню*/
    --hamburg-opened-padding-left: 0px;/*Сдвиг подложки открытого меню влево*/
    --hamburg-closed-shift-to-left: 20px;/*Сдвиг гамбургер меню от правого края влево*/
    --hamburg-opened-shift-to-left: -196px;

}


header{
    background-image: var(--header-background-img-file);
    height: var(--header-background-image-height);
    background-size: var(--header-background-image-scale-x) var(--header-background-image-scale-y);
    background-position: var(--header-background-image-position-x) 0%;
    margin: var(--header-margin-top) var(--header-margin-horizontal) var(--header-margin-top) var(--header-margin-horizontal);

}

.logo{
    position:absolute;
    top: calc(var(--header-margin-top) + 2 * var(--header-nav-padding-vertical) + var(--header-logo-top));
    left: calc( 50vw - var(--body-container-max-width) / 2 + var(--header-logo-left));
    height: var(--header-logo-height);
    width: var(--header-logo-width);
    /*max-width: var(--header-logo-max-width);*/

    margin-top: 10px;
    margin-left: 3%;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;

}

header nav{
    z-index: 1;
    opacity: 0.99;
    width: 100%;
    text-align: right;
}




.nav-display{
/*Класс отображения меню на разных экранах*/
    display: block;

}

nav a{
    display:inline-block;
    padding: var(--header-nav-padding-vertical) 4vw;
    letter-spacing: -0.05em;
    font-size: var(--screen-calculated-nav-font-size);
    font-weight: 500;
    text-decoration: none;
    color: black;
}


nav a:hover{
    color: #44180f;
}

.hambMenu-display{
    display: none; /*По умолчанию меню скрыто*/
    /*overflow-x: hidden;*/
    align-items: center;
    justify-content: flex-end;
    padding-top: var(--header-nav-padding-vertical);
    padding-right: var(--header-nav-padding-horizontal);
    padding-left: var(--header-margin-horizontal);
    padding-bottom: var(--header-nav-padding-vertical);
    margin-right: var(--hamburg-closed-shift-to-left);
}

.header-getprice{
/*Класс для позиционирования кнопки button-getprice
на странице заголовка*/ 
    position: relative;
    top: 68%;
    text-align: center;
    font-size: var(--screen-mobile-menu-font-size);
}









/**/
/*---------------------------------------------------
Стили для работы меню кубика-бургера
За основу взят пример отсюда: 
https://codepen.io/erikterwan/pen/EVzeRP
-----------------------------------------------------*/
.hambMenu-display label {
    display:inline-block;
    padding-left: 5px;
    color: #303030;/*Цвет шрифта рядом с кубиком*/
    font-size: var(--screen-mobile-menu-font-size);
    font-weight: 500;
    font-style: italic;
}

.hambMenu-display label:hover{
    cursor: pointer;
}

#menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    /*Цвет шрифта внутри меню*/
    color: #303030;
    font-size: var(--screen-mobile-menu-font-size);
    font-weight: 500;
    transition: color 0.2s ease;
}


#menuToggle a:hover {
    color: #44180f;
}


#menuToggle input {
    /*Стиль чекбокса в открытом меню*/
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuToggle span {
    /*Стиль для горизонтальной линии
    в картинке для закрытого меню*/
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
    position: relative;

    background: #303030;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    /*Цвет крестика*/
    background: #303030;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    /*Стиль для раскрытого меню*/
    position: absolute;
    width: calc(var(--hamburg-opened-width) + var(--hamburg-opened-padding-left));/*Ширина блока меню*/
    
    margin: -55px 0px 0px -150px;/*Расположение развёрнутой панели меню*/
    margin-left: var(--hamburg-opened-shift-to-left);
    /*Верхний отступ 70px - под палец,
    чтобы случайно не закрыть*/
    padding: 70px 27px 20px 1em;
    /*Цвет фона открытого меню*/
    background-color: rgba(230, 230, 230, 0.9);
    /*VS-code подсказал
    прикольный стиль смешивания из трёх букв*/
    background-blend-mode: hue;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(0, -150%);

    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    /*Поля элементов меню*/
    padding: 20px 10px;
}

#menuToggle ul {
    display: flex;
    flex-direction: column;

}

#menuToggle input:checked~ul {
    transform: none;

}
    /*Конец стилей гамбурге-меню
    -------------------------------------------------------------------------*/


@media (max-width: 1200px)
{
    :root{
    --header-background-image-position-x: 0%;
    --header-background-image-scale-x: 110%;
        
    }
}


@media all and (orientation: portrait){
        :root{
            --header-background-img-file: url("../img/header3.jpg");
            --header-logo-width: 75vw;
            --header-logo-max-width: 75vw;
            --header-logo-height: calc(var(--header-logo-width) / 3 * 2)
    }

    .logo{
        left: calc( 50% - var(--header-logo-width) / 2);
        max-height: 40vh;

    }

    .nav-display{
        display:none;
    }

    .hambMenu-display{
        display: flex;
    }

}


@media (max-width: 800px){

    .nav-display{
        display:none;
    }

    .hambMenu-display{
        display: flex;
    }


}

