@import url(variables.css);

:root{
    --header-margin-top: 0px;
    --header-margin-horizontal: calc((var( --body-container-width) - 100vw) / 2 + 1vw);
    --header-background-img-file: url("../img/header2.jpg");
    --header-background-image-width: 100vw;
    --header-background-image-height: 100vh;
    --header-background-image-scale-x: 100%;
    --header-background-image-scale-y: 100%;
    --header-background-image-position-x: 0%; /*Для широких экранов сдвига изображения нет, на маленьких - около 20%*/

    /*Параметры элементов меню в панели навигации*/
    --header-nav-padding-vertical: 20px;

    /*Параметры логотипа*/
    --header-logo-height: 30vh;
    --header-logo-width: calc(var(--header-logo-height) / 2 * 3);
    --header-logo-max-width: 30%;
    --header-logo-top: 0px;
    --header-logo-left: 1vw;



}


header{
    background-image: var(--header-background-img-file);
    height: var(--header-background-image-height);
    background-size: var(--header-background-image-scale-x) var(--header-background-image-scale-y);
    background-position: var(--header-background-image-position-x) 0%;
    margin: var(--header-margin-top) var(--header-margin-horizontal) var(--header-margin-top) var(--header-margin-horizontal);

}

.logo{
    position:absolute;
    top: calc(var(--header-margin-top) + 2 * var(--header-nav-padding-vertical) + var(--header-logo-top));
    left: calc( 50vw - var(--body-container-max-width) / 2 + var(--header-logo-left));
    height: var(--header-logo-height);
    width: var(--header-logo-width);
    /*max-width: var(--header-logo-max-width);*/

    margin-top: 10px;
    margin-left: 3%;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;

}

header nav{
    z-index: 1;
    opacity: 0.99;
    width: 100%;
    text-align: right;
}




.nav-display{
/*Класс отображения меню на разных экранах*/
    display: block;

}

nav a{
    display:inline-block;
    padding: var(--header-nav-padding-vertical) 20px;
    letter-spacing: -0.05em;
}

a {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}


@media (max-width: 1200px)
{
    :root{
    --header-background-image-position-x: 0%;
    --header-background-image-scale-x: 110%;
        
    }
}


@media all and (orientation: portrait){
        :root{
            --header-background-img-file: url("../img/header3.jpg");
            --header-logo-width: 75vw;
            --header-logo-max-width: 75vw;
            --header-logo-height: calc(var(--header-logo-width) / 3 * 2)
    }

    .logo{
        left: calc( 50% - var(--header-logo-width) / 2);
        max-height: 40vh;

    }

    .nav-display{
        display:none;
    }

}


