@import url(variables.css);

:root{
    --header-margin-horizontal: calc((var( --body-container-width) - 100vw) / 2);
    --header-background-img-file: url("../img/header2.jpg");
    --header-background-image-width: 100vw;
    --header-background-image-height: 100vh;
    --header-background-image-scale-x: 100%;
    --header-background-image-scale-y: 100%;
    --header-background-image-position-x: 0%; /*Для широких экранов сдвига изображения нет, на маленьких - около 20%*/

    /*Параметры логотипа*/
    
    --header-logo-height: 40vh;/*calc(var(--header-logo-width) / 3 * 2); */
    --header-logo-width: calc(var(--header-logo-height) / 2 * 3);
    --header-logo-scale: 100%;
    --header-logo-left: 3%;
}


header{
    background-image: var(--header-background-img-file);
    height: var(--header-background-image-height);
    background-size: var(--header-background-image-scale-x) var(--header-background-image-scale-y);
    background-position: var(--header-background-image-position-x) 0%;
    margin: 0px var(--header-margin-horizontal);

}

.logo{
    position:absolute;
    top: 0px;
    left: var(--header-logo-left);
    height: var(--header-logo-height);
    width: var(--header-logo-width);
    scale: var(--header-logo-scale);
    transform-origin: 0 0;

    margin-top: 10px;
    margin-left: 3%;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
    overflow: visible;

}

header nav{
    width: 100%;
}



nav{
    z-index:1;
    text-align: right;
}

.nav-display{
    display: block;
}

nav a{
    display:inline-block;
    padding: 20px 20px;
    letter-spacing: -0.05em;
}

a {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}




@media (max-width: 1200px)
{
    :root{
    --header-background-image-position-x: 0%;
    --header-background-image-scale-x: 110%;

    }
}


@media all and (orientation: portrait){
        :root{
            --header-background-img-file: url("../img/header3.jpg");
            --header-logo-width: 75vw;
            --header-logo-left: calc(50% - var(--header-logo-width) / 2);
    }

    .nav-display{
        display:none;
    }

}

@media (max-width: 720px)
{
    /*:root{
        --header-logo-width: 70vw;
        --header-logo-left: calc(50% - var(--header-logo-width) / 2);

    }*/

    .nav-display{
        display:none;
    }
}



/*
@media (max-width: 720px){
    :root{
     --header-background-image-position-x: 45%;
    --header-background-image-scale-x: 300%;

    }
}
*/