@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,900&display=swap');
@import url(variables.css);
/*Подгружаем константы проекта: ширина контейнера, макс. ширина и т.д.*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Шрифты для всего проекта*/
    font-family: 'Roboto', sans-serif;
}


.body-container { 
    max-width: var(--body-container-max-width);
    width: var(--body-container-width);
    min-height: 250vh;
    background-color: #FFFFFF;
    /*Отступы контейнера от края экрана*/
    margin-left: var(--body-container-margin-horizontal);
    margin-right: var(--body-container-margin-horizontal);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}