@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');
@import url(variables.css);
/*Подгружаем константы проекта: ширина контейнера, макс. ширина и т.д.*/

body {
    display: flex;
    flex-direction: column;
    align-items: center
}

.body-container {
    /*Шрифты для всего проекта*/
    font-family: 'Roboto', sans-serif;
    max-width: var(--body-container-max-width);
    width: var(--body-container-width);
    min-height: 250vh;
    margin: 0vh 100px;
    background-color: #FFFFFF;

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

footer {
    background-color: #322C2C;
    width: 100%;
    height: 350px;
}

.container-footer {
    max-width: 1002px;
    max-width: 100%;
    padding: 0 151px 0 133px;
    margin: 0 auto;
}

.footer-upperside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    display: block;
    width: 300px;
    height: 300px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-item:not(:first-child) {
    margin-left: 35px
}

.footer-item {
    color: #ffff;
    font-size: 34px;
    list-style: none;
    font-style: italic;
}

.phone {
    margin-left: 35px;
    background-color: white;
    color: black;
    font-size: large;
    font-style: italic;
    border-radius: 15px;
}

.footer-down {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 26px;
}