@import url(variables.css);

:root {
    /*Параметры Слайдера*/
    --slider-card-count: 3; /*Кол-во слайдеров на экране*/
    --slider-card-width: calc(100% / var(--slider-card-count));
}


.production {
    width: 100%;
}

.itc-slider {
    overflow: hidden;
}



.itc-slider__item {
    flex: 0 0 var(--slider-card-width);
}


.production-slider-card {
    padding: 0px 2%;
}

.production-slider-card-img {
    object-fit: cover;
    width: 100%;
}

.production-slider-card-img img {
    width: 100%;
}


.production-conteiner-center{
    text-align: center;
    margin: 120px auto;
}

@media (max-width: 900px)
{
    :root{
        --slider-card-count: 2;
    }
}

@media (max-width: 600px)
{
    :root{
        --slider-card-count: 1;
    }
}