/*Константы проекта*/

:root{
    --body-container-width: 85vw;/*Ширина контейнера, в котором размещается контент*/
    --body-container-max-width: 1300px; /*Максимальная ширина контента, выше которой расширение страницы недопустимо. Скриптом предусмотрены ТОЛЬКО px*/
    --body-container-margin-horizontal: 10px;/*Ширина левого/правого отступа от края экрана*/

    
    /*Размеры шрифтов для меню "Навигация"*/
    --screen-calculated-nav-font-size:calc(0.008 * var(--body-container-width) + 10px);
    --screen-mobile-menu-font-size: calc(var(--screen-calculated-nav-font-size) + 2px);/*Размер шрифта для меню мобильного экрана*/
    --screen-mobile-menu-font-height: calc(3 * var(--screen-mobile-menu-font-size));
    

    /*Размеры шрифтов для блока О нас*/
    --screen-calculated-aabout-font-size:calc(0.006 * var(--body-container-width) + 16.2px);

    /*Размер шрифта заголовков*/
    --screen-calculated-h1-hont-size: calc(0.013 * var(--body-container-width) + 27px);
    
    /*Стили кнопки "Получить прайс*/
    --getprice-padding-core-vertical: calc(1.1 * var(--screen-mobile-menu-font-size));/*Оступы для внутреннего элемента*/
    --getprice-padding-core-horizontal: calc(2.5 * var(--screen-mobile-menu-font-size));/*Отступы для внутреннего элемента*/
    --getprice-font-size: var(--screen-mobile-menu-font-size); /*Размер шрифта внутри кнопки*/
}